node_modules/

# Ignoruj logi błędów npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignoruj pliki tymczasowe systemu
.DS_Store
Thumbs.db

# Jeśli nie chcesz wysyłać oryginalnego, ciężkiego CSS (opcjonalnie)
# css/sidebar-elegance-soft.css
